.container
    .row
        .col-sm-12
            h2.pd-20-top.text-center.mainTitle Artigos
    .row.artigos#artigos.text-center
        img#spinner.center-block(src="img/spinner.gif", alt="carregando")