.container
    .row
        .col-sm-12
            h2.pd-20-top.text-center.mainTitle Artigos
    .row.artigos
        each i in ["img/post-blog.jpg","img/post-blog-1.jpg","img/post-blog-2.jpg"]
            .col-sm-4.item-artigos
                img.img-responsive(src=i, alt="Blog")
                h4.text-main ANTI-CELULITE
                p Bothanica Mineral é uma empresa de COSMECÊUTICOS voltados ao 
                    | combate de diferentes disfunções estéticas corporais, através da genuína 
                    | Prática Estética Ortomolecular.
                a() Saiba Mais

            