.container
    .row
        .col-sm-12    
            // Banners rotativos                
            #c-banner
                .row.item-c
                    .col-sm-6.text-leort
                        h1 
                            span.marca LEORT® 
                            | é Vida!
                        p.font-extra-large.texto-banner-1 O fim da flacidez, estrias, celulite e gordura localizada!
                            p.font-extra-large
                                a(href="http://leort.com.br", target="_blanck") Conheça
                    .col-sm-6.img-back-leort
                        img.img-responsive.img.leort-banner1(src="img/leort-solo.png", alt="") 
                .row.item-c
                    .col-sm-5.col-md-5.col-md-push-7.text-banner-2
                        h1 
                            span.text-verde-bm.text-uppercase 7 AÇÕES:


                            img(src="img/ICONES-PRODUTOS.png", alt="Icones Leort")
                    .col-sm-7.col-md-7.col-md-pull-5.img-back-leort(style="background-image:url(img/background-leort.png)")
                        img.img-responsive.img.leort-banner1(src="img/leort-profissional.png", alt="")