.container
    .row
        .col-sm-12    
            // Banners rotativos                
            #c-banner
                .row.item-c
                    .col-sm-6.text-leort
                        h2 
                            span.text-main LEORT® 
                            | é Vida!
                        p.font-extra-large.texto-banner-1 O fim da flacidez, estrias, celulite e gordura localizada!
                            p.font-extra-large
                                a(href="http://leort.com.br", target="_blanck") Conheça
                    .col-sm-6.img-back-leort
                        img.img-responsive.img.leort-banner1(src="img/leort-solo.png", alt="Leort", style="max-height:720px") 
                .row.item-c
                    .col-sm-6.img-back-leort
                        img.img-responsive.img.leort-banner1(src="img/argila.jpg", alt="") 
                    .col-sm-5.col-sm-offset-1.text-leort
                        h2.text-main.argila-title  Sabonete de Argila
                        p.font-extra-large.texto-banner-1 Anti-idade | Renovação Celular |  Hidratante
                        p.font-extra-large
                            a(href="http://leort.com.br", target="_blanck") Conheça 
