.container
    .row
        .col-sm-10.col-sm-offset-1.pd-80-top
            h2.text-center.pd-20-top.text-main CONHEÇA NOSSA LINHA DE PRODUTOS
            .line-verde.line-small
            .row
                .flex.pd-80-top
                    .cat
                        img.img-responsive.center-block(src="img/celulite.png", alt="Celulite")
                        p.uppercase.text-center CELULITE
                    .cat
                        img.img-responsive.center-block(src="img/celulite.png", alt="Celulite")
                        p.uppercase.text-center CELULITE
                    .cat
                        img.img-responsive.center-block(src="img/celulite.png", alt="Celulite")
                        p.uppercase.text-center CELULITE
                    .cat
                        img.img-responsive.center-block(src="img/celulite.png", alt="Celulite")
                        p.uppercase.text-center CELULITE
                    .cat
                        img.img-responsive.center-block(src="img/celulite.png", alt="Celulite")
                        p.uppercase.text-center CELULITE