.container
    .row
        .col-sm-12
            h2.pd-20-top.text-center.mainTitle Tecnologia Bothanica Mineral®
    .row.section
        .col-sm-6
            img.img-responsive(src="img/tec.png", alt="Tecnologia Bothanica MIneral")
        .col-sm-6
            .tec-texto
                p Bothanica Mineral é uma empresa de COSMECÊUTICOS voltados ao combate de diferentes disfunções estéticas corporais, através da genuína Prática Estética Ortomolecular.
                p Com uma exclusiva linha de produtos da mais alta qualidade, desenvolvidos sob rigorosos processos, a Bothanica Mineral garante resultados fantásticos e sucesso irrevogável ao profissional da área da beleza, que contará com ampla eficácia nos tratamentos e total satisfação de suas clientes.