.curso-flex
    display: flex
    flex-wrap: wrap
    & > *
        width: 33.33333%
        border 1px solid white
        flex-grow: 1
    & > .oneLine
            width: 100% 

.cursos-flex
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    & > *
        width: 23%
        padding 20px
        border 1px solid lightgray
        font-size: remify(16px)
        box-shadow: 2px 2px 2px lightgray
        line-height: 20px
        margin-top 20px
        p
            margin 0