.banner-pag-tecnologia
    text-align: center
    img 
        margin: auto

.background-tecnologia
    background-image: url(../img/fundo-tecnologia.jpg)
    background-position: top center
    background-repeat: no-repeat;
    background-size: auto;