.container
    .row
        .col-sm-10.col-sm-offset-1.pd-80-top
            h2.text-center.pd-20-top.text-main CONHEÇA NOSSA LINHA DE PRODUTOS
            .line-verde.line-small
            .row
                .flex.pd-40-top
                    .cat
                        a(href="cat-celulite.html")
                            img.img-responsive.center-block(src="img/celulite.png"  + version, alt="Celulite")
                            p.uppercase.text-center CELULITE
                    .cat
                        a(href="cat-destoxicacao.html")
                            img.img-responsive.center-block(src="img/destox.png"  + version, alt="Celulite")
                            p.uppercase.text-center Destoxicação
                    .cat
                        a(href="cat-estrias.html")
                            img.img-responsive.center-block(src="img/estrias.png"  + version, alt="Celulite")
                            p.uppercase.text-center estrias
                    .cat
                        a(href="cat-flacidex.html")
                            img.img-responsive.center-block(src="img/flacidez.png"  + version, alt="Celulite")
                            p.uppercase.text-center flacidex
                    .cat
                        a(href="cat-gordura-localizada.html")
                            img.img-responsive.center-block(src="img/celulite.png"  + version, alt="Celulite")
                            p.uppercase.text-center gordura localizada
                .col-sm-12
                    p.pd-40-top Com uma exclusiva linha de produtos da mais alta qualidade, desenvolvidos sob rigorosos processos, a Bothanica Mineral garante 
                        |resultados fantásticos e sucesso irrevogável ao profissional da área da beleza, 
                        | que contará com ampla eficácia nos tratamentos e total satisfação de suas cliente