.container.pd-80-top.pd-80-bottom
    .row
        .col-sm-10.col-sm-offset-1
            h3.text-center.text-main CONHEÇA OUTRA LINHA DE PRODUTOS
            .row
                .flex.pd-20-top
                    .cat
                        a(href="/produtos/destoxicacao")
                            img.img-responsive.center-block(src="/img/destox.png"  + version, alt="Celulite")
                            p.uppercase.text-center Destoxicação
                    .cat
                        a(href="/produtos//estrias")
                            img.img-responsive.center-block(src="/img/estrias.png"  + version, alt="Celulite")
                            p.uppercase.text-center estrias
                    .cat
                        a(href="/produtos/flacidez")
                            img.img-responsive.center-block(src="/img/flacidez.png"  + version, alt="Celulite")
                            p.uppercase.text-center flacidez
                    .cat
                        a(href="/produtos/gordura-localizada")
                            img.img-responsive.center-block(src="/img/celulite.png"  + version, alt="Celulite")
                            p.uppercase.text-center Gordura Localizada
