meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

meta( property="og:title", content="Bothanica Mineral®")
meta(property="og:description", content="Com uma exclusiva linha de produtos da mais alta qualidade, desenvolvidos sob rigorosos processos, a Bothanica Mineral garante resultados fantásticos e sucesso irrevogável ao profissional da área da beleza, que contará com ampla eficácia nos tratamentos e total satisfação de suas clientes.")
meta(property="og:image" content="http://leort.happybiz.com.br/img/leort-profissional.png")

meta( property="twitter:title", content="Bothanica Mineral®")
meta(property="twitter:description", content="Com uma exclusiva linha de produtos da mais alta qualidade, desenvolvidos sob rigorosos processos, a Bothanica Mineral garante resultados fantásticos e sucesso irrevogável ao profissional da área da beleza, que contará com ampla eficácia nos tratamentos e total satisfação de suas clientes.")

meta(name="description" content="Com uma exclusiva linha de produtos da mais alta qualidade, desenvolvidos sob rigorosos processos, a Bothanica Mineral garante resultados fantásticos e sucesso irrevogável ao profissional da área da beleza, que contará com ampla eficácia nos tratamentos e total satisfação de suas clientes.")


