.menu-mob-flutuante#menu-mob-flutuante(style="display:none;")
    ul.display-menu-mob
        li 
            a(class="link-topo",href="quem-somos.html" ) Quem somos
        li 
            a(class="link-topo",href="produtos.html", class="goesTo") PRODUTOS
        li 
            a(class="link-topo",href="cursos.html", class="goesTo") CURSOS
        li 
            a(class="link-topo",href="http://blog.bm.com.vc" rel="noopener", target="_blank") BLOG
        li 
            a(class="link-topo",href="http://blog.bm.com.vc/resultados/", rel="noopener", target="_blank") Resultados
        li 
            a(class="link-topo", href="http://bm.com.vc", rel="noopener", target="_blank") Credenciamento
        //li 
            a(class="link-topo",href="fale-conosco.html", class="goesTo") BM Internacional
        li 
            a(class="link-topo",href="fale-conosco.html", class="goesTo") FALE CONOSCO
    .fechar-menu
        img(src="img/fechar.png", alt="Botão Fechar")

// Header navegação
header#topo            
    .borda-topo.bg-main
        .container
            .row
                .rede-sociais-blog.col-xs-12
                    a(href="https://www.instagram.com/bothanicamineral/?hl=pt" target="_blank",  rel="noopener")
                        img(src="img/blog/icon-insta.png"  + version, alt="Facebook")
                    a(href="https://www.youtube.com/channel/UCXt09yqtrEngqUL8KANHuDA" target="_blank",  rel="noopener")
                        img(src="img/blog/icon-youtube.png"  + version, alt="Facebook")
                    a(href="https://www.facebook.com/Bothanicamineral/" target="_blank",  rel="noopener")
                        img(src="img/blog/icon-face.png"  + version, alt="Facebook")
    .container.bm-nav
        .bm-nav-main
            .logo-leort.col-xs-6.col-xs-push-3.col-md-2.col-md-push-0
                a(href="index.html")
                    img.logo-nav(src="img/logo-topo.png"  + version, alt="Logo Bothanica Mineral")
            .menu-leort.col-xs-3.col-xs-pull-6.col-md-10.col-md-pull-0
                // Navegação para desk
                nav.visible-md.visible-lg
                    ul.display-menu
                        li 
                            a(class="link-topo",href="quem-somos.html" ) Quem somos
                        li 
                            a(class="link-topo",href="produtos.html", class="goesTo") PRODUTOS
                        li 
                            a(class="link-topo",href="cursos.html", class="goesTo") CURSOS
                        li 
                            a(class="link-topo",href="http://blog.bm.com.vc" rel="noopener", target="_blank") BLOG
                        li 
                            a(class="link-topo",href="http://blog.bm.com.vc/resultados/", rel="noopener", target="_blank") Resultados
                        li 
                            a(class="link-topo", href="http://bm.com.vc", rel="noopener", target="_blank") Credenciar
                        //li 
                            a(class="link-topo",href="fale-conosco.html", class="goesTo") Internacional
                        li 
                            a(class="link-topo",href="fale-conosco.html", class="goesTo") FALE CONOSCO
                        li.langLI
                            img.img-lang(src="img/br.png", alt="Escolha a lingua")  
                            select#lang(name="language")
                                option(value="PT") PT
                                option(value="EN") EN
                                option(value="ES") ES

                // Navegação para mob
                nav.visible-xs.visible-sm
                        .menu-mob
                            span.icon-bar
                            span.icon-bar  
                            span.icon-bar                   

            .language-w.col-xs-3.visible-xs.visible-sm
                img.img-lang(src="img/br.png"  + version, alt="Escolha a lingua")  
                select#lang(name="language")
                    option(value="PT") PT
                    option(value="EN") EN
                    option(value="ES") ES
    .line-verde