extends ./_layouts/bm.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content

    section.background-tecnologia.pd-60-top.relative
        .container.pd-40-bottom
            .cat-produtos.mainCat
                img.active.img-responsive.center-block(src="img/estrias.png"  + version, alt="Celulite")
                p.uppercase.text-center Estrias

            .pos-filter            
                .flex-center.pd-40-top               
                    .material-switch.pull-right
                        p.font-small Linha profissional
                        input#chk0008(name="profissoes" type="checkbox" value="01" checked)
                        label.label-sucess(for="chk0008")
                    .material-switch.pull-right
                        p.font-small Linha home care
                        input#chk0007(name="amador" type="checkbox" value="02" checked)
                        label.label-sucess(for="chk0007")                 
                        
        
        .container.pd-80-top
            .row.produto-flex
                .col-sm-4.col-xs-12.pd-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/BM-produtos12.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Cenzi 120ml
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/BM-produtos17.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Sabonete Argila Branca barra 100% vegetal 80g
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/BM-produtos18.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Sabonete Argila Preta barra 100% vegetal 80g
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
        
                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/BM-produtos11.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Hidratante Corpo e Alma 250ml 
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
                
                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/BM-produtos10.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center S.O.S Biocamlt 200ml
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
                
                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/BM-produtos16.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Sabonete Argila vermelha barra 100% vegetal 80g
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais 
        
                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/SOS-Biocalmant-photo-produto.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center STRIORT S.O.S Biocalmt 50ml
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais 
                
                .col-sm-4.col-xs-12.pd-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/BM-produtos2.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Cenzi 500ml
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
                
                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/bot27355.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center FLA 250ml
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
        
                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/bot27370.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center PH 10 500ml
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais 
                
                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/GEO-ok.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Geo 900g
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
                
                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/Fluido-para-massagem-corporal.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Leort
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.pd-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/BM-produtos9.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Dmae creme facial e corporal 210g 
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/bot27348.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Orto C 
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.pd-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/Ortopantol.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Ortopantol
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais


                .col-sm-4.col-xs-12.pd-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/bot27379.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Emuls達o O-nutritiva
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.pd-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/bot27366.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Emuls達o O- esfoliante
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.pd-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="img/img-pronta/bot27361.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Emuls達o O-hidratante
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais




        include _index/pro_cat.pug




    // objetos n達o visiveis na tela
    img(src="img/linha-dourada.png", alt="linha dourada", class="hidden", id="dourado")
    img(src="img/brilho.png", alt="linha dourada", class="hidden", id="shiny")




block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")
    script(src="js/produtos.js")


