extends ./_layouts/bm.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content

    section.background-tecnologia.pd-60-top.relative
        .container.pd-40-bottom
            .cat-produtos.mainCat
                img.active.img-responsive.center-block(src="img/destox.png", alt="Celulite")
                p.uppercase.text-center Destoxicação

            .pos-filter            
                .flex-center.pd-40-top               
                    .material-switch.pull-right
                        p.font-small Linha profissional
                        input#chk0008(name="profissoes" type="checkbox" value="01")
                        label.label-sucess(for="chk0008")
                    .material-switch.pull-right
                        p.font-small Linha cliente
                        input#chk0007(name="amador" type="checkbox" value="02")
                        label.label-sucess(for="chk0007")                 
                        
        
        .container.pd-80-top
            .row
                .col-sm-4.text-center.linha-cliente
                    img.img-responsive.img-produtos(src="img/produtos/sabonete_arg_branca.png", alt="Produto Bothanica Mineral")
                    h4.text-main SABONETE ARGILA BRANCA BARRA 100% VEGETAL  80g
                    p Pele mista e oleosa

                .col-sm-4.text-center.linha-cliente
                    img.img-responsive.img-produtos(src="img/produtos/sabonete_arg_preta.png", alt="Produto Bothanica Mineral")
                    h4.text-main SABONETE ARGILA PRETA BARRA 100% VEGETAL 80g
                    p Pele madura e desvitalizada 

                .col-sm-4.text-center.linha-cliente
                    img.img-responsive.img-produtos(src="img/produtos/sabonete-argila-preta-liq.png", alt="Produto Bothanica Mineral")
                    h4.text-main SABONETE ARGILA PRETA LÍQUIDO 250ml
                    p Pele madura e desvitalizada

        
        .container.pd-80-top
            .row
                .col-sm-4.text-center.linha-cliente
                    img.img-responsive.img-produtos(src="img/produtos/sabonete-argila-branca-liq.png", alt="Produto Bothanica Mineral")
                    h4.text-main SABONETE ARGILA BRANCA LÍQUIDO 250ml
                    p Pele mista e oleosa
                .col-sm-4.text-center.linha-cliente
                    img.img-responsive.img-produtos(src="img/produtos/sabonete_arg_vermelha.png", alt="Produto Bothanica Mineral")
                    h4.text-main SABONETE ARGILA VERMELHA BARRA 100% VEGETAL 80g
                    p Pele sensível e seca
                .col-sm-4.text-center.linha-profissional
                    img.img-responsive.img-produtos(src="img/produtos/profissional/argila-verde.png", alt="Produto Bothanica Mineral")
                    h4.text-main ARGILA VERDE 1kg
                    p Máscara facial e corporal.
        
        .container.pd-80-top
            .row
                .col-sm-4.text-center.linha-profissional
                    img.img-responsive.img-produtos(src="img/produtos/profissional/fluido.png", alt="Produto Bothanica Mineral")
                    h4.text-main FLUÍDO DINAMIZADOR 250ml
                    p Coadjuvante no combate a celulite e gordura localizada.
                .col-sm-4.text-center.linha-profissional
                    img.img-responsive.img-produtos(src="img/produtos/profissional/ph10.png", alt="Produto Bothanica Mineral")
                    h4.text-main PH10 500ml
                    p Oxigenoterapia
                .col-sm-4.text-center.linha-profissional
                    img.img-responsive.img-produtos(src="img/produtos/profissional/geo-lipoescultura.png", alt="Produto Bothanica Mineral")
                    h4.text-main GEO 900g
                    p Gel Neutro Especial de Altíssimo Rendimento        
        
        .container.pd-80-top
            .row
                .col-sm-4.text-center.linha-profissional
                    img.img-responsive.img-produtos(src="img/produtos/profissional/ortosal.png", alt="Produto Bothanica Mineral")
                    h4.text-main ORTOSAL 1kg
                    p Prevenção e tratamento na gordura localizada e celulite, além de destoxifcação do organismo.      
        
        .container.pd-80-top.pd-80-bottom
            .row
                .col-sm-10.col-sm-offset-1
                    h3.text-center.text-main Mais categorias de produtos
                    .row
                        .flex.pd-20-top
                            .cat
                                a(href="cat-celulite.html")
                                    img.img-responsive.center-block(src="img/celulite.png", alt="Celulite")
                                    p.uppercase.text-center Celulite
                            .cat
                                a(href="cat-estrias.html")
                                    img.img-responsive.center-block(src="img/estrias.png", alt="Celulite")
                                    p.uppercase.text-center estrias
                            .cat
                                a(href="cat-flacidez.html")
                                    img.img-responsive.center-block(src="img/flacidez.png", alt="Celulite")
                                    p.uppercase.text-center flacidez
                            .cat
                                a(href="cat-gordura-localizada.html")
                                    img.img-responsive.center-block(src="img/celulite.png", alt="Celulite")
                                    p.uppercase.text-center Gordura Localizada




    // objetos não visiveis na tela
    img(src="img/linha-dourada.png", alt="linha dourada", class="hidden", id="dourado")
    img(src="img/brilho.png", alt="linha dourada", class="hidden", id="shiny")




block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


