extends ./_layouts/bm.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content

    section.background-tecnologia.pd-60-top.relative
        .container.pd-40-bottom
            .cat-produtos.mainCat
                img.active.img-responsive.center-block(src="img/flacidez.png", alt="Celulite")
                p.uppercase.text-center flacidez

            .pos-filter            
                .flex-center.pd-40-top               
                    .material-switch.pull-right
                        p.font-small Linha profissional
                        input#chk0008(name="profissoes" type="checkbox" value="01")
                        label.label-sucess(for="chk0008")
                    .material-switch.pull-right
                        p.font-small Linha cliente
                        input#chk0007(name="amador" type="checkbox" value="02")
                        label.label-sucess(for="chk0007")                 
                        
        
        .container.pd-80-top
            .row
                .col-sm-4.text-center.linha-cliente
                    img.img-responsive.img-produtos(src="img/produtos/produto1.png", alt="Produto Bothanica Mineral")
                    h4.text-main CENZI | 120ml
                    p Celulite, Estrias, Flacidez, Gordura Localizada
                    p
                        a(href="#") Saiba Mais

                .col-sm-4.text-center.linha-cliente
                    img.img-responsive.img-produtos(src="img/produtos/dmae.png", alt="Produto Bothanica Mineral")
                    h4.text-main SABONETE ARGILA BRANCA BARRA 100% VEGETAL 80g
                    p  Pele mista e oleosa
                    p
                        a(href="#") Saiba Mais

                .col-sm-4.text-center.linha-cliente
                    img.img-responsive.img-produtos(src="img/produtos/hidratante-corpo-e-alma.png", alt="Produto Bothanica Mineral")
                    h4.text-main HIDRATANTE CORPO & ALMA 250ml
                    p LOÇÃO CREMOSA | Pele macia e renovada
                    p
                        a(href="#") Saiba Mais
        
        .container.pd-80-top
            .row
                .col-sm-4.text-center.linha-cliente
                    img.img-responsive.img-produtos(src="img/produtos/S.O.S-BIOCALMANT.png", alt="Produto Bothanica Mineral")
                    h4.text-main S.O.S BIOCALMANT 200ml
                    p Loção corporal refrescante
                    p
                        a(href="#") Saiba Mais
                .col-sm-4.text-center.linha-cliente
                    img.img-responsive.img-produtos(src="img/produtos/s.o.s-striort.png", alt="Produto Bothanica Mineral")
                    h4.text-main STRIORT | S.O.S BIOCALMANT 50ml
                    p Dessensibilizante Corporal
                    p
                        a(href="#") Saiba Mais
                .col-sm-4.text-center.linha-profissional
                    img.img-responsive.img-produtos(src="img/produtos/profissional/argila-verde.png", alt="Produto Bothanica Mineral")
                    h4.text-main STRIORT | S.O.S BIOCALMANT 50ml
                    p Dessensibilizante Corporal
                    p
                        a(href="#") Saiba Mais
       
        .container.pd-80-top
            .row
                .col-sm-4.text-center.linha-profissional
                    img.img-responsive.img-produtos(src="img/produtos/profissional/cenzi.png", alt="Produto Bothanica Mineral")
                    h4.text-main CENZI 500ml
                    p Tratamento e prevenção de gordura localizada e celulite em todos os graus.
                    p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
                .col-sm-4.text-center.linha-profissional
                    img.img-responsive.img-produtos(src="img/produtos/profissional/fla_gel-fluido.png", alt="Produto Bothanica Mineral")
                    h4.text-main FLA  250ml
                    p Oligominerais
                    p
                        a(href="#") Saiba Mais
                .col-sm-4.text-center.linha-profissional
                    img.img-responsive.img-produtos(src="img/produtos/profissional/gel-crioterapico.png", alt="Produto Bothanica Mineral")
                    h4.text-main GEL CRIOTERÁPICO 1kg
                    p Formulado em base gel especial com ativos em alta concentração.
                    p
                        a(href="#") Saiba Mais      
        
        .container.pd-80-top
            .row
                .col-sm-4.text-center.linha-profissional
                    img.img-responsive.img-produtos(src="img/produtos/profissional/geo-lipoescultura.png", alt="Produto Bothanica Mineral")
                    h4.text-main GEO 900g
                    p Gel Neutro Especial de Altíssimo Rendimento        
                    p
                        a(href="#") Saiba Mais
                        
        .container.pd-80-top.pd-80-bottom
            .row
                .col-sm-10.col-sm-offset-1
                    h3.text-center.text-main Mais categorias de produtos
                    .row
                        .flex.pd-20-top
                            .cat
                                a(href="cat-celulite.html")
                                    img.img-responsive.center-block(src="img/celulite.png", alt="Celulite")
                                    p.uppercase.text-center Celulite
                            .cat
                                a(href="cat-destoxicacao.html")
                                    img.img-responsive.center-block(src="img/destox.png", alt="Celulite")
                                    p.uppercase.text-center Destoxicação
                            .cat
                                a(href="cat-estrias.html")
                                    img.img-responsive.center-block(src="img/estrias.png", alt="Celulite")
                                    p.uppercase.text-center Estrias
                            .cat
                                a(href="cat-gordura-localizada.html")
                                    img.img-responsive.center-block(src="img/celulite.png", alt="Celulite")
                                    p.uppercase.text-center Gordura Localizada




    // objetos não visiveis na tela
    img(src="img/linha-dourada.png", alt="linha dourada", class="hidden", id="dourado")
    img(src="img/brilho.png", alt="linha dourada", class="hidden", id="shiny")




block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


