extends _blog/blog.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content

    section#categorias
        .container.pd-80-bottom.pd-80-top
            .row
                .col-md-10
                    .post
                        h2.pd-60-bottom.text-main.titulo-categoria-post últimos artigos - PELE
                        img.img-responsive(src="img/blog/mulher-post.jpg", alt="Imagem do Post")
                        h3.text-main COMO ESTAR DE “BEM” COM O SEU CORPO
                        p.data 18 de abril de 2018 - Pele 
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in faucibus turpis. Mauris vestibulum ex in luctus vestibulum. Praesent 
                            |tincidunt pulvinar purus, id blandit neque pharetra euismod.
                        p
                            a.link-do-blog(href="#") LEIA MAIS
                    .post.pd-60-top
                        img.img-responsive(src="img/blog/mulher-hidratando-pele.jpg", alt="Imagem do Post")
                        h3.text-main ENTENDA A IMPORTÂNCIA DE HIDRATAR DIARIAMENTE A PELE
                        p.data 22 de abril de 2018 - Pele
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in faucibus turpis. Mauris vestibulum ex in luctus vestibulum. Praesent 
                            |tincidunt pulvinar purus, id blandit neque pharetra euismod.
                        p
                            a.link-do-blog(href="#") LEIA MAIS
                    .post.pd-60-top
                        img.img-responsive(src="img/blog/mulher-perna-post.jpg", alt="Imagem do Post")
                        h3.text-main SAIBA TUDO SOBRE AS CELULITES
                        p.data 30 de abril de 2018 - Pele
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in faucibus turpis. Mauris vestibulum ex in luctus vestibulum. Praesent 
                            |tincidunt pulvinar purus, id blandit neque pharetra euismod.
                        p
                            a.link-do-blog(href="#") LEIA MAIS
                .col-md-2.pd-15-top
                    .barra-lateral
                        h3.text-main.titulo-barra-lateral CATEGORIAS
                        ul.link-barra-lateral(style="padding-left:0;")
                            li 
                                a(href="#") Pele
                            li 
                                a(href="#") Profissional
                            li 
                                a(href="#") Cosmocêuticos
                            li 
                                a(href="#") Tendências
                   
                    .barra-lateral.pd-20-top
                        h3.text-main.titulo-barra-lateral MAIS LIDOS
                        ul.link-barra-lateral(style="padding-left:0;")
                            li 
                                a(href="#") 15 de abril de 2018 <br> Cuidados com a barriga durante a gestação
                            li 
                                a(href="#") 02 de abril de 2018 <br> Como ter pernas firmes e bonitas bon a gestação
                    
                    .barra-lateral.pd-20-top
                        h3.text-main.titulo-barra-lateral NEWSLETTER
                        label(for="email")
                            input.input-email(id="email" name="e-mail" placeholder="Digite seu email" type="email")
                    
                    .barra-lateral.pd-20-top
                        h3.color.titulo-barra-lateral CURSOS PARA PROFISSIONAIS DA ÁREA
                        ul.link-barra-lateral(style="padding-left:0;")
                            li 
                                a(href="#") STRIORT | O Fim das Estrias
                            li 
                                a(href="#") LIPOESCULTURA GESSADA EXCLUSIVE
                            li 
                                a(href="#") ORTOSHOCK | Master em Ondas de Choque
                            li 
                                a(href="#") ORTOBARIATRIC | Estética e Emagrecimento em Pós - Bariátrico
                            li 
                                a(href="#") PRÁTICA ESTÉTICA ORTOMOLECULAR






    
    
    
    // objetos não visiveis na tela
    img(src="img/linha-dourada.png", alt="linha dourada", class="hidden", id="dourado")
    img(src="img/brilho.png", alt="linha dourada", class="hidden", id="shiny")







block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


