extends ./_layouts/bm.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content

    section.pd-40-top
        .container.texto-fale-conosco
            h2.text-main  Atendimento ao Cliente
            p Caso tenha alguma dúvida, sugestão ou reclamação, queremos muito saber o que deseja 
                |nos dizer, entre em contato por e-mail, telefone ou pelo nosso formulário de contato.
            .row.pd-40-top.texto-fale-conosco.pd-80-bottom
                .col-sm-12.col-xs-12.col-md-6
                    h3.text-main Telefone
                    p SAC: +55 11 4508-8998 <br>
                        |Atendimento: Segunda à sexta | 09h às 18h <br>
                        |E-mail: sac@bothanicamineral.com.br <br>
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.2195222284263!2d-46.6911243844481!3d-23.632308170102583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5092c5cf2117%3A0x5cb6fbeaf598bcde!2sAv.+Ver.+Jos%C3%A9+Diniz%2C+1370+-+Santo+Amaro%2C+S%C3%A3o+Paulo+-+SP%2C+04604-001!5e0!3m2!1spt-BR!2sbr!4v1527190168855" width="500" height="450" frameborder="0" style="border:0" allowfullscreen)
                .col-sm-12.col-xs-12.col-md-6
                    .form-contato
                        h2.text-main.text-center.pd-60-top.pd-60-bottom.inativar-titulo Enviar mensagem
                        .form-group
                            .col-sm-12.formulario
                                label.label-fale-conosco(for="Nome") Nome
                                input.borda.form-control.input-lg(type="text" id="Nome", placeholder="Seu Nome")
                        .form-group
                            .col-sm-12.formulario
                                label(for="e-mail") E-mail
                                input.borda.form-control.input-lg(type="email" id="e-mail", placeholder="exemplo@email.com")
                        .form-group
                            .col-sm-6.formulario
                                label(for="telefone") Telefone
                                input.borda.form-control.input-lg(type="text" id="telefone", placeholder="XX 00000-0000")
                        .form-group
                            .col-sm-6.formulario
                                label(for="Empresa") Empresa
                                input.borda.form-control.input-lg(type="text" id="Empresa", placeholder="Sua Empresa")                      
                        .col-sm-6.formulario
                            label(for="categoria") Categoria
                            select.borda.form-control.input-lg(name="Categoria", id="categoria")
                                option(value="Categoria") Profissional Credenciado
                                option(value="Categoria") Profissional não Credenciado
                                option(value="Categoria") Cliente
                        .form-group
                            .col-sm-6.formulario
                                label(for="Assunto") Assunto
                                input.input-lg.borda.form-control(type="text" id="Assunto", placeholder="Sua Empresa")
                        .col-sm-12.formulario
                            label(for="mensagem") Mensagem
                            textarea.input-lg.borda.form-control(name="mensagem", cols="30", rows="10", id="mensagem", placeholder="Digite sua mensagem")
                        .col-sm-12
                            .text-left
                                button.btn.btn-lg.btn-main.btn-default.uppercase enviar 


     

    // objetos não visiveis na tela
    img(src="img/linha-dourada.png", alt="linha dourada", class="hidden", id="dourado")
    img(src="img/brilho.png", alt="linha dourada", class="hidden", id="shiny")







block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


