extends ./_layouts/bm.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content

    section.background-tecnologia.pd-80-top
        .container
            h4.text-uppercase.text-center.bold MAIS DE
            .row
                .col-sm-12.text-center
                    img.img-responsive.img.leort-banner1.img-produto-grande(src="img/10-mil.png", alt="Produto Bothanica Mineral") 
            .row
                .col-sm-12.text-center
                    h1.uppercase.light.titulo-resultados Transformações
            .row
                .col-sm-12.pd-60-top.text-center
                    img.img-responsive.img.leort-banner1.img-produto-grande(src="img/logo-topo.png", alt="Logo Bothanica Mineral")

    section.pd-60-top
        .pd-80-bottom
            .row
                .fex
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados")
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados") 
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados") 
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados") 
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados")         
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados")
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados") 
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados") 
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados") 
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados") 
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados")
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados") 
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados") 
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados") 
                    img.img-responsive.flex-item(src="img/antes-e-depois.png", alt="Resultados")
        
        .container.pd-80-bottom
            .text-center
                button.botao-resutados Carregar mais

    // objetos não visiveis na tela
    img(src="img/linha-dourada.png", alt="linha dourada", class="hidden", id="dourado")
    img(src="img/brilho.png", alt="linha dourada", class="hidden", id="shiny")







block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


