extends ./_layouts/bm.pug

block append CSS
    link(rel="stylesheet", href="/css/style.css")
    

block content

    section.background-tecnologia.pd-60-top.relative
        .container.pd-40-bottom
            .cat-produtos.mainCat
                img.active.img-responsive.center-block(src="/img/flacidez.png"  + version, alt="Celulite")
                p.uppercase.text-center flacidez

            .pos-filter            
                .flex-center.pd-40-top               
                    .material-switch.pull-right
                        p.font-small Linha profissional
                        input#chk0008(name="profissoes" type="checkbox" value="01" checked)
                        label.label-sucess(for="chk0008")
                    .material-switch.pull-right
                        p.font-small Linha home care
                        input#chk0007(name="amador" type="checkbox" value="02" checked)
                        label.label-sucess(for="chk0007")                 
                        
        
        .container.pd-80-top
            .row.produto-flex
                .col-sm-4.col-xs-12.mg-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/BM-produtos12.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Cenzi 120ml
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.mg-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/DMAE-cliente-ok.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Dmae creme facial e corporal 50g
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/BM-produtos11.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Hidratante Corpo e Alma 250ml 
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
        
                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/BM-produtos10.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center S.O.S Biocamlt 200ml
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
                
                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/SOS-Biocalmant-photo-produto.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center STRIORT S.O.S Biocalmt 50ml
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
                
                .col-sm-4.col-xs-12.mg-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/BM-produtos2.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Cenzi 500ml
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
       
                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/bot27355.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center FLA 250ml
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
                
                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/BM-produtos3.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Gel Crioterápico 1kg
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais
                
                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/GEO-ok.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Geo 900g
                    //p
                        a(href="produto-gel-crioterapico-profissional.html") Saiba Mais      
        
                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/Fluido-para-massagem-corporal.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Leort       
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/bot27370.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center PH 10 500ml       
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais                       
        
                .col-sm-4.col-xs-12.mg-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/bot27379.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Emulsão O-nutritiva       
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais   

                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/bot27371.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Liquido O-crioterapico      
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.mg-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/bot27366.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Emulsão O- esfoliante     
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/bot27385.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Argila Ortoglicerinada  
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.mg-40-bottom.text-center
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/bot27361.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Emulsão O-hidratante 
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/emulsão-o-neutralizante.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Emulsão O-neutralizante
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-cliente
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/BM-produtos18.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Sabonete Argila Preta barra 100% vegetal 80g
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais

                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/ArgilaVerde-ok.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Argila verde 1kg
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais


                .col-sm-4.col-xs-12.mg-40-bottom.text-center.linha-profissional
                    img.img-responsive.img-produtos.tamanho-cat(src="/img/img-pronta/BM-produtos3.png"  + version, alt="Produto Bothanica Mineral")
                    h4.text-main.text-center Gel Crioterápico 1kg
                    //p
                        a(href="produto-cenzi-profissional.html") Saiba Mais


        .container.pd-80-top.pd-80-bottom
            .row
                .col-sm-10.col-sm-offset-1
                    h3.text-center.text-main Mais categorias de produtos
                    .row
                        .flex.pd-20-top
                            .cat
                                a(href="/produtos/celulite")
                                    img.img-responsive.center-block(src="/img/celulite.png"  + version, alt="Celulite")
                                    p.uppercase.text-center Celulite
                            .cat
                                a(href="/produtos/destoxicacao")
                                    img.img-responsive.center-block(src="/img/destox.png"  + version, alt="Celulite")
                                    p.uppercase.text-center Destoxicação
                            .cat
                                a(href="/produtos/estrias")
                                    img.img-responsive.center-block(src="/img/estrias.png"  + version, alt="Celulite")
                                    p.uppercase.text-center Estrias
                            .cat
                                a(href="/produtos/gordura-localizada")
                                    img.img-responsive.center-block(src="/img/celulite.png"  + version, alt="Celulite")
                                    p.uppercase.text-center Gordura Localizada




block append scriptsJS
    script(src="/js/app.js")
    script(src="/js/produtos.js")


