extends ./_layouts/bm.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="/css/style.css")
    

block content

    section#banners.relative
        img.bandeira(src="/img/tag-bm.png"  + version, alt="Bothanica Mineral")
        include ./_index/banners.pug                            


    section#categorias.pd-80-top
        include ./_index/categorias.pug


    section.section
        include ./_index/artigos.pug
                    
           
    section.bg-imagem-tec
        include ./_index/tecnologia.pug

           



block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="/js/app.js")


