extends _blog/blog.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content

    section.setion
        .container.pd-80-bottom
            .row
                .col-md-10
                    .post
                        h3.pd-20-bottom.text-main PROCEDIMENTOS DIÁRIOS QUE SUA PELE PRECISA
                        p.text-main 16/05/2018
                        img.img-responsive(src="img/blog/background-parte1.jpg"  + version, alt="Imagem do Post")
                        p.pd-40-top Silvio Santos Ipsum vem pra lá, mah você vai pra cá. Agora vai, agora vem pra láamm. Ma o Silvio Santos Ipsum é muitoam interesanteam. 
                            |Com ele ma você vai gerar textuans ha haae. É namoro ou amizadeemm? Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. É namoro ou 
                            |amizadeemm? Wellintaaammmmmmmmm. É com você Lombardiam. É dinheiro ou não éam? O arriscam tuduam, valendo um milhão de reaisuam. Eu 
                            |só acreditoammmm.... Vendoammmm. Estamos em ritmo de festamm. Ma vale dérreaisam?
                        p É dinheiro ou não éam? O arriscam tuduam, valendo um milhão valendo cam tuduam, valendo um milhão de reaisuam. Mah ooooee vem pra cá. 
                            |Vem pra cá. Ma quem quer dinheiroam? Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam?
                            | Ha haeeee. Hi hi. Ma quem quer dinheiroam? Ma tem ou não tem o celular do milhãouamm? O Raul Gil é gayam! ... Maa O Ah Ae! Ih Ih! O Raul Gil é gayamm! Qual é a musicamm? Eu só acreditoammmm.... Vendoammmm.
                        p Ma vale dérreaisam? É com você Lombardiam. Ma você, topa ou não topamm. Wellintaaammmmmmmmm. Qual é a musicamm? Ma vale dérreaisam? Qual é 
                            |a musicamm? Ma quem quer dinheiroam? Eu só acredito
                        p Silvio Santos Ipsum vem pra lá, mah você vai pra cá. Agora vai, agora vem pra láamm. Ma o Silvio Santos Ipsum é muitoam interesanteam. 
                            |Com ele ma você vai gerar textuans ha haae. É namoro ou amizadeemm? Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. É namoro ou 
                            |amizadeemm? Wellintaaammmmmmmmm. É com você Lombardiam. É dinheiro ou não éam? O arriscam tuduam, valendo um milhão de reaisuam. Eu 
                            |só acreditoammmm.... Vendoammmm. Estamos em ritmo de festamm. Ma vale dérreaisam?
                        p É dinheiro ou não éam? O arriscam tuduam, valendo um milhão valendo cam tuduam, valendo um milhão de reaisuam. Mah ooooee vem pra cá. 
                            |Vem pra cá. Ma quem quer dinheiroam? Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam?
                            | Ha haeeee. Hi hi. Ma quem quer dinheiroam? Ma tem ou não tem o celular do milhãouamm? O Raul Gil é gayam! ... Maa O Ah Ae! Ih Ih! O Raul Gil é gayamm! Qual é a musicamm? Eu só acreditoammmm.... Vendoammmm.
                        p Ma vale dérreaisam? É com você Lombardiam. Ma você, topa ou não topamm. Wellintaaammmmmmmmm. Qual é a musicamm? Ma vale dérreaisam? Qual é 
                            |a musicamm? Ma quem quer dinheiroam? Eu só acredito 
                        .line-verde-post.mg-40-top
                            p.uppercase.text-main.texto-rodape-post gostou deste post?
                            a(href="#")
                                img.img-responsive.icones-post(src="img/blog/face-post.png"  + version, alt="Faceoock")
                            a(href="#")
                                img.img-responsive.icones-post(src="img/blog/twitter-post.png"  + version, alt="twitter")
                            a(href="#")
                                img.img-responsive.icones-post(src="img/blog/gmail-post.png"  + version, alt="gmail")
                        .botoes-post
                            p 
                                a(href="#") Post Anterior
                            p 
                                a(href="#") Próximo Post




                .col-md-2.pd-15-top
                    .barra-lateral
                        h3.text-main.titulo-barra-lateral CATEGORIAS
                        ul.link-barra-lateral(style="padding-left:0;")
                            li 
                                a(href="#") Pele
                            li 
                                a(href="#") Profissional
                            li 
                                a(href="#") Cosmocêuticos
                            li 
                                a(href="#") Tendências
                   
                    .barra-lateral.pd-20-top
                        h3.text-main.titulo-barra-lateral MAIS LIDOS
                        ul.link-barra-lateral(style="padding-left:0;")
                            li 
                                a(href="#") 15 de abril de 2018 <br> Cuidados com a barriga durante a gestação
                            li 
                                a(href="#") 02 de abril de 2018 <br> Como ter pernas firmes e bonitas bon a gestação
                    
                    .barra-lateral.pd-20-top
                        h3.text-main.titulo-barra-lateral NEWSLETTER
                        label(for="email")
                            input.input-email(id="email" name="e-mail" placeholder="Digite seu email" type="email")
                    
                    .barra-lateral.pd-20-top
                        h3.color.titulo-barra-lateral CURSOS PARA PROFISSIONAIS DA ÁREA
                        ul.link-barra-lateral(style="padding-left:0;")
                            li 
                                a(href="#") STRIORT | O Fim das Estrias
                            li 
                                a(href="#") LIPOESCULTURA GESSADA EXCLUSIVE
                            li 
                                a(href="#") ORTOSHOCK | Master em Ondas de Choque
                            li 
                                a(href="#") ORTOBARIATRIC | Estética e Emagrecimento em Pós - Bariátrico
                            li 
                                a(href="#") PRÁTICA ESTÉTICA ORTOMOLECULAR




    
    
    
    // objetos não visiveis na tela
    img(src="img/linha-dourada.png"  + version, alt="linha dourada", class="hidden", id="dourado")
    img(src="img/brilho.png"  + version, alt="linha dourada", class="hidden", id="shiny")







block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


